@use "../abstracts/" as *;

@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica.ttf") format(".ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $primary-font;
}
